<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="login">
    <% if user_signed_in? %>
      Hello <%= current_user.name %>,
      <%= link_to "Logout", session_path, method: :delete, data: {confirm: "Are You Sure You Want To Log Out?"}%>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
    </div>
    <nav class="navbar navbar-expand navbar-light">
    <%= link_to "Idea Factory", root_path, :class => "navbar-brand text-primary"%>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= button_to "New Post", new_idea_path, :class => "btn btn-outline-primary" %>
          </li>
        </ul>
      </div>
    </nav>
    <hr>
    <% flash.each do |type, message| %>
      <div class="alert alert-info">
      <%= type + ": " + message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
